
:host {
  display: flex;
  flex-direction: column;
}

.list-style {
  overflow: auto;
}

/*Style the messages*/
.chat-msg {
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
}

.chat-msg >>> .md-list-item {
  flex-direction: column;
  height: inherit;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chat-content {
  white-space: pre-wrap;
  width: 100%;
  line-height: 1;
}

.userMsg {
  background: #d6d8fc;
}

.othersMsg {
  background: #f0f0f0;
}

 /*Style the textarea*/
.no-resize >>> textarea {
  resize: none;
}

.bold {
  font-weight: bold;
}

/*Style the chat background*/
.chat-background {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  max-width: 90%;
  max-height: 90%;
}
.center-background {
  display: flex;
  justify-content: center;
}
