
:host {
  overflow: auto;
}

.list-style {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

md-list-item >>> .md-list-text {
  min-width: 250px;
}

md-list-item >>> .md-list-item {
  border: 3px solid #b0b0b0;
  border-radius: 20px;
}

.btn-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
}

.green-color {
  color: #22bfbf;
}

.grey_color {
  color: #67798a;
}

.violet-color {
  color: #6d00fe;
}

.date-font {
  font-size: smaller;
}
